@{
    ViewData["Title"] = "Sua página";
}

<div class="text-center">
    <h3 class="display-4">Seja bem-vindo @User.Identity.Name!</h3>

    <div> 
        <a href="@Url.Action("Logout", "Auth")" class="btn btn-danger">Sair</a>
        <a href="@Url.Action("RegistrarAtividade")" class="btn btn-primary">Criar atividade</a>
    </div>
</div>
