@{
    ViewData["Title"] = "Criar atividade";
}

<div class="text-center">

    <div> 
    <h3>Aqui vc poderá registrar suas ativiades</h3>
        <a href="@Url.Action("Create")" class="btn btn-primary">Criar atividade</a>
    </div>
</div>
